html{
    font-size: 16px;
}

body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    font-size: 1rem;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    height: 6rem;
}

.Pinterest {
    border-radius: 50%;
    background-color: white;
    border-color: white;
    border: none;
    cursor: pointer;
}

.Pinterest:hover .pinterest-button{
    opacity: 0.3;
}

.pinterest-button{
    max-width: 40px;
}

.button-img{
    border-radius: 50%;
    background-color: white;
    border-color: white;
    border: none;
    cursor: pointer;
}

.button-img:hover {
    background-color: lightgrey;
}

nav{
    font-size: 1rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    size: 1rem;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0rem;
    justify-content: space-between;
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 3rem;
    padding-top: 0%;
}

.B-texto{
    height: 40px;
    border-radius: 30%;
    font-size: larger;
    background-color: white;
    border-color: white;
    display: inline-block;
    border: none;
    cursor: pointer;
}

div#container {
    display: table;
    

    width: 60rem;
    
    margin: 0px auto 0;
    padding-top: 0%;
  }
  div#container div.cell {
    display: table-cell;
  }
  div#container div.cell:last-child {
    width: 0.3rem;
  }
  
  input[type=search], div.button {  
    width: 100%;
    height: 2rem;
  
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    font-family: inherit;
    font-size: inherit;
  }
  
  input[type=search] {
    margin: 0;
    padding: 0 0.7rem;
    
    background-color: lightgrey;
    
    border: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  div.button {
    line-height: 2rem;
  
    margin: 0;
    padding: 0 1rem;
  
    color: #fff;
    background-color:lightgrey;
    font-weight: bold;
    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
    white-space: nowrap;
  }

  .search-button{
    max-width: 16px;
  }
.search-bar:hover {
    opacity: 0.5;;
}
.button-nav{
    max-width: 16px;
}

main{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:white;
    z-index: 0;
}
.card{
    justify-content: stretch;
    align-items: center;
   position: relative;
   width: 20rem;
   cursor: zoom-in;
   border-radius: 5%;
}
.card:hover{
    background-color: black;
}

.img{
    max-width: 20rem;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 5%;
    place-self: center;
}

.mid{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.save-button{
    background-color: red;
    color: white;
    font-size: large;
    cursor: pointer;
    border: none;
    border-radius: 20%;
}

.save-button:hover {
    opacity: 0.3;
}

.in-button{
    max-width: 16px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.in-button:hover{
    opacity: 0.3;
}

.card:hover .img{
    opacity: 0.3;
}

.card:hover .mid{
    opacity: 1;
}

.inside{
    background-color:black;
    color: black;
    font-size: 1rem;
    
}

.buscador-input{
    max-width: 40rem;
}


.search{
    gap: 0!important;
    background-color: aliceblue;
    max-width: 40rem;
}

@media screen and (max-width: 2000px){
    
    nav{
        gap: 0;
    }

    div#container {
        display: table;
        
    
        width: 50rem;
        
        margin: 4rem auto 0;
      }


@media screen and (max-width: 1500px){
    
    nav{
        gap: 0;
    }

    div#container {
        display: table;
        
    
        width: 45rem;
        
        margin: 4rem auto 0;
      }


@media screen and (max-width: 1000px){
    
    nav{
        gap: 0;
    }

    div#container {
        display: table;
        
    
        width: 25rem;
        
        margin: 4rem auto 0;
      }


@media screen and (max-width: 750px){
    
    nav{
        gap: 0;
    }

    .B-texto{
        font-size: medium;
    }

    div#container {
        display: table;
        
    
        width: 20rem;
        
        margin: 4rem auto 0;
      }

@media screen and (max-width: 550px){
    
    nav{
        gap: 0;
    }

    .B-texto{
        font-size: medium;
    }

    div#container {
        display: table;
        
    
        width: 10rem;
        
        margin: 4rem auto 0;
      }
    
    main{
        flex-direction: column;
        align-items: center;
        padding: 0.4rem;
    }

    .card{
        flex: 0 0 calc(100% - 1rem);
    }

}
@media screen and (min-width: 400px){
    .B-texto{
        font-size: small;
    }
}